<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>Merriam-Webster&apos;s Thesaurus</string>
	<key>CFBundleDisplayName</key>
	<string>Merriam-Webster&apos;s Thesaurus</string>
	<key>CFBundleName</key>
	<string>Merriam-Webster&apos;s Thesaurus</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Merriam-Webster&apos;s Thesaurus
Copyright © 2020 by Merriam-Webster, Incorporated. All rights reserved.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>.</string>
	<key>DCSDictionaryXSL</key>
	<string></string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict/>
	<key>DCSDictionaryPrefsHTML</key>
	<string></string>
</dict>
</plist>
